[submodule "netoverview"]
	path = netoverview
	url = https://github.com/eduardocenci/netoverview
[submodule "globalnet"]
	path = globalnet
	url = https://github.com/eduardocenci/globalnet
[submodule "homes/ara"]
	path = homes/ara
	url = https://github.com/eduardocenci/home-ara.git
